<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="bg-gradient-to-r from-slate-800 via-slate-700 to-slate-900 px-4">
    <header><%- include('./partials/header'); %></header>

    <main class="mt-28 mb-9 container mx-auto">
      <div
        class="grid-wrapper bg-gradient-to-br from-zinc-600 via-zinc-500 to-zinc-800"
      >
        <div
          class="grid grid-cols-1 lg:grid-cols-4 md:grid-cols-3 xs:grid-cols-2 gap-3 p-3"
        >
          <%leaders.forEach(leader => {%>
          <div>
            <div class="relative hover:scale-105 transition-all cursor-pointer">
              <img
                src="<%=leader.url%>"
                alt="African Leaders"
                class="w-full xs:h-72 object-fill shadow-lg overflow-hidden"
              />
              <span
                class="absolute left-3 right-3 bottom-3 block px-2 py-1 text-slate-300 text-lg line-clamp-1 hover:line-clamp-2 hover:cursor-pointer font-bold bg-gradient-to-r from-slate-900 via-transparent to-slate-700"
                ><%=leader.name%></span
              >
            </div>
          </div>
          <%})%>
        </div>
      </div>
    </main>
    <script src="/script.js"></script>
  </body>
</html>
